APP_SERVER_IP=192.168.1.66
SSO_SERVER_IP=192.168.1.59
PYTHON_SERVER_IP=192.168.1.90

PHP_APP_URL=http://192.168.1.66
PYTHON_API_URL=http://192.168.1.90
POSTGRES_DSN=postgresql://mxa_mobile_analytics:mxa_mobile_analytics@192.168.1.66:5432/mxa_mobile_analytics

# SSO host should match Keycloak hostname when hostname-strict=true
SSO_HOSTNAME=sso.gint.co.za
SSO_ISSUER=http://sso.gint.co.za/realms/mxa-mobile-analytics
