PYTHON_SERVER_IP=192.168.1.90
APP_SERVER_IP=192.168.1.66

REDIS_URL=redis://127.0.0.1:6379/0
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1

MINIO_ENDPOINT=127.0.0.1:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=false

POSTGRES_DSN=postgresql://premium_ocr:premium_ocr@192.168.1.66:5432/premium_ocr
TOOLKIT_PATH=/workspace
