PYTHON_SERVER_IP=192.168.1.90
APP_SERVER_IP=192.168.1.66

REDIS_URL=redis://127.0.0.1:6379/0
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1

MINIO_ENDPOINT=127.0.0.1:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=false
MINIO_BUCKET_INPUT=mxa-mobile-analytics-input
MINIO_BUCKET_OUTPUT=mxa-mobile-analytics-output
MINIO_PRESIGN_EXPIRE=3600

POSTGRES_DSN=postgresql://mxa_mobile_analytics:mxa_mobile_analytics@192.168.1.66:5432/mxa_mobile_analytics
TOOLKIT_PATH=/opt/mxa-mobile-analytics

UPLOAD_DIR=/opt/mxa-mobile-analytics/data/uploads
WORK_TMP_DIR=/opt/mxa-mobile-analytics/data/tmp
WORK_OUTPUT_DIR=/opt/mxa-mobile-analytics/data/output
