# Use this on app server when Keycloak stays strict-hostname.
SSO_ISSUER=http://sso.gint.co.za/realms/mxa-mobile-analytics
SSO_AUTHORIZE_URL=http://sso.gint.co.za/realms/mxa-mobile-analytics/protocol/openid-connect/auth
SSO_TOKEN_URL=http://sso.gint.co.za/realms/mxa-mobile-analytics/protocol/openid-connect/token
SSO_USERINFO_URL=http://sso.gint.co.za/realms/mxa-mobile-analytics/protocol/openid-connect/userinfo
SSO_LOGOUT_URL=http://sso.gint.co.za/realms/mxa-mobile-analytics/protocol/openid-connect/logout
